<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Step 2.1 增加权限声明 -->
    <!-- 在 Android 中，要读取电话状态或拦截电话，必须在 <manifest> 标签内、<application> 标签上方添加对应的权限声明。-->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntiScamBlocker">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Step 2.2 增加服务声明 注册 CallScreeningService 拦截服务-->
        <!-- 为了让 Android 15 系统在有来电时能够通知到我们的 App，必须在 <application> 标签内部声明一个自定义的服务。该服务必须受到 BIND_CALL_SCREENING_SERVICE 权限的保护，否则系统为了安全会直接忽略它。 -->
        <service
            android:name=".AntiScamCallService"
            android:permission="android.permission.BIND_CALL_STREAMING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

    </application>

</manifest>
